
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>CSCI 2720 Group Project</title>

<!-- Bootstrap core CSS -->
<!-- <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->

<link href="/css/bootstrap.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
