<!--  start of jumbortron-->
<div class="jumbotron">
  <div class="container">
    <h1>CSCI 2720 Project</h1>
    <p>This is a web application that can be used to manage multiple choice(MC) question.</p>
    <p><a class="btn btn-primary btn-lg" href="simpleMC" role="button">View MC</a></p>
  </div>
</div>
<!--  end of jumbotron-->

<!-- start of groud member and id -->
<div class="container">
  <div class="panel panel-info">
    <!-- panel heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-target="#memberList">
          Group Member
        </a>
      </h3>
    </div>

    <!--  panel body-->
    <div id="memberList" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h2>RYAN, CHAN Ho Yan</h2>
            <p>SID: 11550xxxxx</p>
          </div>
          <div class="col-md-4">
            <h2>ANTHONY, WONG Ka Chun</h2>
            <p>SID: 11550xxxxx</p>
         </div>
          <div class="col-md-4">
            <h2>NEO, WONG Ka Lam</h2>
            <p>SID: 11550xxxxx</p>
          </div>
        </div><!-- end of row-->
      </div> <!-- end of panel body-->
    </div>

  </div> <!-- end of panel-->
</div> <!-- end of container-->
<!-- end of groud member and id -->
