extends layout

block content
  .container-fluid(ng-controller='mcCtrl')
    form.form-inline
      .form-group
        label Creator
        input(ng-model='name', type='text', placeholder='Ceator')
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th ID
            th Creator
            th Title
            th Description
            th A
            th B
            th C
            th D
          tr(ng-repeat='mc in mcs | startForm: (currentPage - 1) * pageSize | limitTo: pageSize | filter:{Creator:name}')
            td {{$index+1}}
            td {{mc.Creator}}
            td {{mc.Title}}
            td {{mc.Description}}
            td {{mc.A}}
            td {{mc.B}}
            td {{mc.C}}
            td {{mc.D}}
      div
        ul(uib-pagination='', total-items='mcs.length', ng-model='currentPage', items-per-page='pageSize')

block scriptcontent
  script.
    app.controller("mcCtrl", function($scope, $http){
        console.log("in veiwmc ctrl");
        $scope.pageSize = 2;
        $scope.currentPage = 1;
        $scope.mcs;
        $http.get('/getmc').success(function(response){
          console.log("getmc");
          console.log(response);
          $scope.mcs = response;
          });
        });
        app.filter('startForm', function() {
          return function(input, start) {
            if(input) {
              start = +start; //parse to int
              return input.slice(start);
            }
            return [];
          }
      });
