<div ng-controller="detailmcCtrl">
  <div class="container">
    <div>
      <label>QuestionID:</label>
      <label>{{mc._id}}</label>
    </div>
    <div>
      <label>Title:</label>
      <label ng-if="!isEditing">{{mc.Title}}</label>
      <input ng-if="isEditing" type="text" class="form-control" id="mctitle" ng-value="mc.Title">
    </div>
    <div>
      <label>Description:</label>
      <!-- <label ng-if="!isEditing">{{mc.Description}}</label> -->
      <label ng-if="!isEditing" ng-bind-html="mc.Description"></label>
      <textarea ng-if="isEditing" class="form-control" id="mcdesc">{{mc.Description}}</textarea>
    </div>
    <div>
      <label>A:</label>
      <!-- <label ng-if="!isEditing" >{{mc.A}}</label> -->
      <label ng-if="!isEditing" ng-bind-html="mc.A"></label>
      <input ng-if="isEditing" type="text" class="form-control" id="mca" ng-value="mc.A">
    </div>
    <div>
      <label>B:</label>
      <!-- <label ng-if="!isEditing" >{{mc.B}}</label> -->
      <label ng-if="!isEditing" ng-bind-html="mc.B"></label>
      <input ng-if="isEditing" type="text" class="form-control" id="mcb" ng-value="mc.B">
    </div>
    <div>
      <label>C:</label>
      <!-- <label ng-if="!isEditing" >{{mc.C}}</label> -->
      <label ng-if="!isEditing" ng-bind-html="mc.C"></label>
      <input ng-if="isEditing" type="text" class="form-control" id="mcc" ng-value="mc.C">
    </div>
    <div>
      <label>D:</label>
      <!-- <label ng-if="!isEditing" >{{mc.D}}</label> -->
      <label ng-if="!isEditing" ng-bind-html="mc.D"></label>
      <input ng-if="isEditing" type="text" class="form-control" id="mcd" ng-value="mc.D">
    </div>
    <div>
      <label>Answer:</label>
      <label ng-if="!isEditing">{{mc.Answer}}</label>
      <input ng-if="isEditing" type="text" class="form-control" id="mcans" ng-value="mc.Answer">
    </div>
    <div>
      <label>Tags:</label>
      <label>{{mc.Tags}}</label>
      <textarea ng-if="isEditing" class="form-control" id="mctag">{{mc.Tags}}</textarea>
    </div>
    <div>
      <label>Creator:</label>
      <label>{{mc.Creator}}</label>
    </div>
    <div>
      <label>LastModfiedTime:</label>
      <label>{{mc.LastModfiedTime}}</label>
    </div>
  </div>
  <div ng-if="canEdit" class="container">
    <button ng-if="!isEditing" class="btn btn-info" ng-click="onEditClick()">Edit</button>
    <button ng-if="!isEditing" class="btn btn-danger" ng-click="deleteMC()">Delete</button>

    <button ng-if="isEditing" class="btn btn-primary" ng-click="updateMC()">Save</button>
    <button ng-if="isEditing" class="btn btn-default" ng-click="onCancelClick()">Cancel</button>
  </div>
</div>
