<div class="main">
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <div class="header-1">
          <div class="over-bg">
            <div class="container">
              <div class="intro-wrap">
                <div class="into-title text-white text-center">Multiple Choice Question</div>
                <div class="into-description text-white text-center">This is a web application that can be used to <br>create and manage your own mc.</div>
                <div class="into-button-container text-center">
                  <a href="viewMC" role="button" class="btn btn-primary btn-lg">Get Started Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="header-2">
          <div class="over-bg">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-md-4">
                  <h2>RYAN</h2>
                  <h2>CHAN Ho Yan</h2>
                  <p>SID: 11550xxxxx</p>
                </div>
                <div class="col-md-4">
                  <h2>ANTHONY</h2>
                  <h2>WONG Ka Chun</h2>
                  <p>SID: 11550xxxxx</p>
                </div>
                <div class="col-md-4">
                  <h2>NEO</h2>
                  <h2>WONG Ka Lam</h2>
                  <p>SID: 11550xxxxx</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
