body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }
  body nav a {
    color: #ffffff;
    display: block; }
    body nav a:hover {
      color: #d3d3d3; }
  body nav .form-group {
    margin-right: 10px; }
    body nav .form-group .form-control {
      border-radius: 25px;
      background-color: transparent; }
  body .main {
    height: 100%; }
    body .main .carousel {
      height: 100%; }
      body .main .carousel .carousel-inner {
        height: 100%; }
        body .main .carousel .carousel-inner .item {
          height: 100%; }
          body .main .carousel .carousel-inner .item .carousel-caption {
            top: 35%;
            bottom: inherit; }
            body .main .carousel .carousel-inner .item .carousel-caption h3 {
              font-weight: bold; }
            body .main .carousel .carousel-inner .item .carousel-caption .btn {
              margin-top: 20px;
              padding: 10px 30px;
              border-radius: 25px; }

.affix {
  background-color: rgba(16, 20, 23, 0.9); }

.header-1 {
  height: 100vh;
  background: url(http://zakirinfo.com/cross/img/bg11.jpg);
  background-size: cover;
  background-attachment: fixed; }

.header-2 {
  height: 100vh;
  background: url(/img/background3.jpg);
  background-size: cover;
  background-attachment: fixed; }

.over-bg {
  height: 100%;
  background: rgba(1, 3, 7, 0.6); }
  .over-bg .intro-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.view {
  padding-top: 80px; }
  .view .section-title-wrap {
    margin-top: 30px;
    margin-bottom: 60px; }

.into-title {
  font-size: 52px;
  line-height: 75px;
  margin-bottom: 30px;
  font-weight: 700; }

.into-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500; }

.into-button-container {
  margin-top: 50px; }

.text-white {
  color: #fff; }
  .text-white:focus {
    color: #fff; }

.section-title {
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 24px; }

.section-icon {
  color: #ff4207; }
  .section-icon span {
    font-size: 35px;
    vertical-align: middle;
    color: #ff4207; }

.section-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #333; }
  .section-subtitle span {
    color: #ff5722; }

.float-right {
  float: right; }
