<!-- start nav bar -->
<nav  class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">CSCI 2720 Project</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form ng-submit="singIn()" class="navbar-form navbar-right" ng-if="!login" ng-cloak>
        <div class="form-group">
          <input type="text" ng-model="$parent.userData.userid" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" ng-model="$parent.userData.passwd" placeholder="Password" class="form-control">
        </div>
        <button class="btn btn-success">Sign in</button>
      </form>
      <p ng-if="login" class="navbar-text navbar-right" ng-cloak>Signed in as {{userid}}</p>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<!--  end nav bar-->
