<div ng-controller="detailmcCtrl">
  <div class="container">
    <div>
      QuestionID: {{mc._id}}
    </div>
    <div>
      Title: {{mc.Title}}
    </div>
    <div>
      Description: {{mc.Description}}
    </div>
    <div>
      A: {{mc.A}}
    </div>
    <div>
      B: {{mc.B}}
    </div>
    <div>
      C: {{mc.C}}
    </div>
    <div>
      Answer: {{mc.Answer}}
    </div>
    <div>
      Tags: {{mc.Tags}}
    </div>
    <div>
      Creator: {{mc.Creator}}
    </div>
    <div>
      LastModfiedTime: {{mc.LastModfiedTime}}
    </div>
  </div>
</div>
