<div ng-controller="detailmcCtrl">
  <div class="container">
    <div>
      <label>QuestionID:</label>
      <label>{{mc._id}}</label>
    </div>
    <div>
      <label>Title:</label>
      <label ng-if="!isEditing">{{mc.Title}}</label>
    </div>
    <div>
      <label>Description:</label>
      <!-- <label ng-if="!isEditing">{{mc.Description}}</label> -->
      <label ng-bind-html="mc.Description"></label>
    </div>
    <div>
      <label>A:</label>
      <!-- <label ng-if="!isEditing" >{{mc.A}}</label> -->
      <label ng-bind-html="mc.A"></label>
    </div>
    <div>
      <label>B:</label>
      <!-- <label ng-if="!isEditing" >{{mc.B}}</label> -->
      <label ng-bind-html="mc.B"></label>
    </div>
    <div>
      <label>C:</label>
      <!-- <label ng-if="!isEditing" >{{mc.C}}</label> -->
      <label ng-bind-html="mc.C"></label>
    </div>
    <div>
      <label>D:</label>
      <!-- <label ng-if="!isEditing" >{{mc.D}}</label> -->
      <label ng-bind-html="mc.D"></label>
    </div>
    <div>
      <label>Answer:</label>
      <label>{{mc.Answer}}</label>
    </div>
    <div>
      <label>Tags:</label>
      <label>{{mc.Tags}}</label>
    </div>
    <div>
      <label>Creator:</label>
      <label>{{mc.Creator}}</label>
    </div>
    <div>
      <label>LastModfiedTime:</label>
      <label>{{mc.LastModfiedTime}}</label>
    </div>
  </div>
</div>
