<!DOCTYPE html>
<html>
  <head>
    <!-- css library -->
    <link href="/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- js library -->
    <script src="/js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <!-- custom css -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- custom js -->
    <script src="js/main.js"></script>

  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="public/index" class="brand-logo">CSCI2720</a>
        </div>
      </div>
    </nav>
    <div class="parallax-container">
      <div class="parallax"><img src="images/cover2.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">
          This is a web application that can be used to manage multiple choice(MC) question.
        </p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/office.jpg"></div>
    </div>
  </body>
</html>
