<div ng-controller="mcCtrl" class="view mc">
  <div class="search-bar">
    <form class="">
      <div class="container">
        <div class="search-value text-center">
          <div class="creator" style="display:inline-block;">
            <input ng-model="name" type="text" placeholder="Ceator"></input>
          </div>
          <div class="tag" style="display:inline-block;">
            <input ng-model="tag" type="text" placeholder="Tag">
          </div>
          <div class="select-filter" style="display:inline-block;">
            <select ng-model="select_value" ng-change="setSort(select_value)" data-placeholder="-Select filter-">
              <option value="Creator">Creator</option>
              <option value="LastModfiedTime">Last Modified Time</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <!-- Title -->
    <div class="section-title-wrap text-center">
      <div class="section-icon">
        <span class="glyphicon glyphicon-tasks"></span>
      </div>
      <h2 class="section-title"> MC Post</h2>
      <p class="section-subtitle">Manage and view mc <span>here</span></p>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>Answer</th>
            <th>Tags</th>
            <th>Creator</th>
            <th>LMT</th>
            <th>Action</th>
          </tr>
          <tr ng-repeat="mc in filterMC = (mcs | filter:{Creator:name, Tags:tag} | orderBy:sort) | startForm: (currentPage - 1) * pageSize | limitTo: pageSize">
            <td>{{mc.Title}}</td>
            <td ng-bind-html="mc.Description"></td>
            <td>{{mc.A}}</td>
            <td>{{mc.B}}</td>
            <td>{{mc.C}}</td>
            <td>{{mc.D}}</td>
            <td>{{mc.Answer}}</td>
            <td>
              <span ng-repeat="tag in mc.Tags" ng-if="!$last">{{tag}},</span>
              <span ng-repeat="tag in mc.Tags" ng-if="$last">{{tag}}</span>
            </td>
            <td>{{mc.Creator}}</td>
            <td>{{mc.LastModfiedTime}}</td>
            <td><a ng-href="/{{mc._id}}" role="button" class="btn btn-warning">Detail</a></td>
          </tr>
        </thead>
      </table>
      <div class="text-center">
        <ul uib-pagination="" total-items="filterMC.length" ng-model="currentPage" items-per-page="pageSize"></ul>
      </div>
    </div>
  </div>
</div>
